article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  box-sizing: border-box;
}
body {
  height: 100%;
}
.podpuck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu {
  background: #21252b;
  width: 15%;
  min-width: 250px;
  padding: 0;
}
.menu-logo {
  background: #21252b;
  height: 70px;
}
.menu-logo h1 {
  font-family: 'Permanent Marker';
  font-size: 3rem;
  margin: 0;
  letter-spacing: 0;
  text-align: center;
  color: #e06252;
  text-shadow: 0 4px 0 #80382f, 0 6px 0 #1d1f23, 2px 0 0 #1d1f23, 0 -2px 0 #1d1f23, -2px 0 0 #1d1f23;
}
.menu-items {
  list-style-type: none;
  color: #fff;
  padding: 0;
}
.menu-items li {
  padding: 5px 0 5px 20px;
}
.menu-items li h2 {
  margin: 0;
}
.menu-items li:hover {
  background: #393e4a;
  cursor: pointer;
}
.content {
  background: #282c34;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
.searchbar {
  background: #2f333d;
  height: 70px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchbar input {
  background: #1d1f23;
  height: 40px;
  border: 1px solid #999;
  transition: 0.2s;
  border-radius: 5px;
  color: #fff;
  font-size: 1.3rem;
  padding: 0 10px;
}
.searchbar input:focus {
  outline: none;
  border: 1px solid #e06252;
}
.searchbar button {
  height: 40px;
  width: 40px;
  margin-left: 5px;
  border-radius: 5px;
}
.content-inner {
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.results {
  -webkit-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
}
.results-grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.results-item {
  position: relative;
  transition: all 0.5s;
  width: 260px;
  height: 260px;
  margin: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.results-item:hover .results-item-overlay {
  transition: all 0.2s;
  color: #fff;
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}
.results-item img {
  transition: all 0.5s;
  max-width: 100%;
  max-height: 100%;
}
.results-item .results-item-load {
  position: absolute;
  width: 128px;
  height: 128px;
}
.results-item-overlay {
  width: 260px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
}
.page-load {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.player {
  transition: opacity 0.5s;
  margin-top: 20px;
  background: #21252b;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.player-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  min-height: 220px;
  text-align: center;
}
.player-main img {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  box-shadow: 1px 1px 5px #21252b;
  z-index: 1;
}
.player-main h4 {
  margin: 10px 0 0 0;
}
.player-main .image-placeholder {
  min-width: 138px;
  min-height: 138px;
  position: absolute;
  z-index: 0;
  background: #191c21;
  border-radius: 100%;
}
.player-bar {
  width: 100%;
  height: 30px;
  background: #191c21;
}
.player-bar .progress {
  background: #e06252;
  min-height: 30px;
  width: 0;
  transition: width 0.1s;
}
.player-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.player-controls div {
  padding: 10px;
}
.player-controls .play-pause {
  transition: 0.1s;
  width: 48px;
  padding: 10px;
}
.player-controls .play-pause:hover {
  background: #393e4a;
}
.podcast-single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.podcast-single-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.podcast-single-hero img {
  width: 40%;
  height: 40%;
  min-width: 200px;
  min-height: 200px;
}
.podcast-single-hero div {
  width: 50%;
  padding: 0 20px;
}
.btn-back {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 80px;
  background: none;
  border: none;
  color: #999;
  transition: 0.2s;
}
.btn-back:hover {
  color: #fff;
}
.episode-list {
  padding: 0;
}
.episode {
  transition: 0.2s;
  padding: 5px 20px;
  margin: 0 0 10px 0;
  background: #2f333d;
  list-style-type: none;
  text-align: center;
}
.episode:hover {
  background: #393e4a;
}
.episode-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5em;
}
.episode-play {
  cursor: pointer;
  transition: 0.2s;
  color: #bbb;
  margin: 0 10px 0 -5px;
}
.episode-play:hover {
  color: #fff;
}
.episode-play:active {
  color: #999;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.episode-date {
  margin-left: auto;
}
.episode-actions {
  text-align: left;
}
.episode-details {
  text-align: left;
  padding: 1px;
}
.episode-details.collapsed {
  height: 0;
  opacity: 0;
  transition: all 0.6s;
  overflow: hidden;
}
.episode-details.expanded {
  height: auto;
  opacity: 1;
  transition: all 0.6s;
}
.episode-toggle {
  width: 100%;
  transition: 0.2s;
  cursor: pointer;
  color: #999;
}
.episode-toggle.up {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
.episode-toggle.down {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
.episode-toggle:hover {
  color: #fff;
}
audio {
  width: 120%;
}
