// Import all partials
@require './_*.styl'

body
		height 100%

.podpuck
		display flex
		min-height 100vh
		flex-direction row

.menu
		background #2f333d
		width 15%
		min-width 250px
		padding 0 20px

.menu-logo
		font-family 'Permanent Marker'
		font-size 3rem
		line-height 1.5rem
		letter-spacing 0
		text-align center
		color #e06252
		text-shadow 0 4px 0 #80382f, 0 8px 0 #282c34, 4px 0 0 #282c34, 0 -4px 0 #282c34, -4px 0 0 #282c34

.content
		background #282c34
		width 100%
		flex 1
		display flex
		flex-direction column
		color #fff

.searchbar
		background #21252b
		height 70px
		padding 20px
		display flex
		align-items center
		input
				background #1d1f23
				height 40px
				border 1px solid #999
				transition 0.2s
				border-radius 5px
				color #fff
				font-size 1.3rem
				padding 0 10px
				&:focus
						outline none
						border 1px solid #e06252
		button
				height 40px
				width 40px
				margin-left 5px
				border-radius 5px					


.content-inner
		padding 20px
		flex 1
		display flex

.results
		align-items flex-start
		
.results-grid
		width 100%
		display flex
		flex-wrap wrap
		align-items flex-start

.results-item
		position relative
		transition all 0.5s
		width 260px
		height 260px
		margin 4px
		display flex
		align-items center
		justify-content center
		&:hover
				.results-item-overlay
						transition all 0.2s
						color #fff
						background rgba(0,0,0,0.7)
						cursor pointer
		img		
				transition all 0.5s
				max-width 100%
				max-height 100%
		.results-item-load
				position absolute
				width 128px
				height 128px
				
.results-item-overlay
		width 260px
		height 260px
		display flex
		text-align center
		flex-direction column
		align-items center
		justify-content flex-end
		position absolute
		top 0
		left 0
		color rgba(0,0,0,0)
		background rgba(0,0,0,0)

.page-load
		flex 1
		display flex
		align-items center
		justify-content center

.player
		width 100%
		display flex
		flex-direction column
		align-items center
		box-shadow 1px 1px 3px rgba(0,0,0,0.8)
		border-radius 10px

.podcast-single
		display flex
		flex-direction column

.podcast-single-hero
		display flex
		flex-direction row
		img
				width 40%
				height 40%
				min-width 200px
				min-height 200px
		div
				width 50%
				padding 0 20px

.btn-back
		width 40px
		height 40px
		position absolute
		right 20px
		top 80px
		background none
		border none
		color #999
		transition 0.2s
		&:hover
				color #fff

.episode-list
		padding 0
		li
				cursor pointer
				transition 0.2s
				padding 5px 10px
				margin 0 0 10px 0
				background #2f333d
				list-style-type none
				&:hover
						background #393e4a

audio
		width 120%